body {
    margin: 0;
    padding: 0;
    background: rgb(136,222,176);
    background: linear-gradient(135deg, rgba(136,222,176,1) 0%, rgba(105,198,175,1) 15%, rgba(78,173,175,1) 32%, rgba(55,122,152,1) 50%, rgba(36,74,128,1) 68%, rgba(21,32,105,1) 85%, rgba(20,9,81,1) 100%);
    background-attachment: fixed;
}

/* NAV BAR */
#nav-header {
    background-color: #5CBA7E;
    color: white;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    position: relative;
    top: 0;
    left: 0;
    margin: 0 0 2em 0;
}

#lista-nav {
    display: flex;
    justify-content: space-around;
    width: 50%;
    padding-left: 0;
}

li {
    list-style: none;
}

/*li links*/
.item-lista:link {
    color: black;
    text-decoration: none;
}

.item-lista:visited {
    color: #3F4DA5;
}

.item-lista:hover {
    color: #FF33AA;
    background-color: black;
    border-radius: 20%;
    transform: rotate(30deg);
}

@media screen and (max-width: 900px) {
    ul {
        width: 70%;
    }
}

@media screen and (max-width:650px) {
    ul {
        flex-flow: column wrap;
    }
    
    li {
        text-align: center;
    }
}

/* BUSCADOR */
#input-texto {
    width: 12%;
    padding: 0.2em;
    position: absolute;
    top: 1em;
    right: 10em;
}

#input-boton {
    padding: 0.2em;
    position: absolute;
    top: 1em;
    right: 6.2em;
}

@media screen and (max-width: 1100px) {
    #input-texto {
        right: 5em;
        width: 15%;
    }

    #input-boton {
        right: 1.2em;
    }
}

@media screen and (max-width: 650px) and (orientation: portrait) {
    #input-texto {
        display: block;
        right: 5em;
        width: 15%;
    }

    #input-boton {
        display: block;
        right: 1.2em;
    }
}

#lupa-buscador {
    position: absolute;
    top: 0.6em;
    right: 15em;
    color: black;
    padding-right: 0.1em;
}

@media screen and (max-width: 650px) {
    #lupa-buscador {
        top: 20%;
        right: 10%;
    }
}

/* HOME BUTTON */
#home {
    position: fixed;
    top: 3.3em;
    left: 1em;
    border-radius: 20%;
    background: rgba(72, 104, 150, 0.3);
    transition: padding-left 0.5s ease-in-out;

}

#home:hover {
    padding-left: 1em;
}

/* NAV GRID */
#indice-nav {
    display: grid;
    margin: auto;
    width: 60%;
    background: rgb(34,193,195);
    background: linear-gradient(270deg, rgba(34,193,195,0.5) 24%, rgba(244,149,149,0.7) 50%, rgba(253,187,45,0.5) 76%); 
    border-radius: 2em;
}

.detail-nav {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(auto, 1fr);
}

#detail-row-1 {
    grid-row: 1;
    grid-column: 1 / 5;
}

#detail-row-2 {
    grid-row: 1;
    grid-column: 7 / 10;
}
#detail-row-3 {
    grid-row: 4 / 8;
    grid-column: 9 / 16;
}

#detail-square-1 {
    grid-row: 1 / 4;
    grid-column: 11 / 15;
}

#detail-square-2 {
    grid-row: 3;
    grid-column: 9 / 11;
}

#detail-column-1 {
    grid-row: 3 / 7;
    grid-column: 1 / 3;
}

#detail-column-2 {
    grid-row: 2 / 6;
    grid-column: 4;
}

#detail-column-3 {
    grid-row: 3 / 7;
    grid-column: 6 / 8;
}
